@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif; 
}
body{
    width: 100%;
}
h1{
    font-size: 50px;
    line-height: 65px;
    color:black
}
h2{
    font-size: 46px;
    line-height: 55px;
    color:black
}
h4{
    font-size: 20px;
    color:black
}
h6{
    font-weight: 700;
    font-size: 12px;
}
#header-box1{
    position: relative;
}

.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.bag-icon{
    top: 15px;
    right:130px;
    position:absolute;

}

.profile-icon{
    top: 10px;
    right:70px;
    position:absolute;
}

#menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;

}

#menu-bar-list {
    display: flex;
    align-items: center;
    color: white;
    
}

#menu-bar-list li {
    list-style: none;
    padding: 15px 50px;
    position: relative;
}

#menu-bar-list a {
    text-decoration: none;
    font-weight: 800;
    color: white;
    transition: 0.2 ease;

}

#menu-bar-list a:hover {
    color: gray;

}

#menu-bar-list a:hover::after {
    content:"";
    width: 30%;
    height: 1px;
    background:gray;
    bottom: 15px;
    left: 50px;
    position: absolute;

}



.slider {
    padding-top: 20px;
    width: 800px;
    height: 600px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    overflow: hidden;
   
    
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1000px;
    height: 500px;
}

.navigation-manual {
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    border: 2px solid #990000;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
    position: relative;
    bottom: -220px;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background:  #990000;
}

#radio1:checked ~ .first {
    margin-left: 0;

}

#radio2:checked ~ .first {
    margin-left: -20%;
    
}

#radio3:checked ~ .first {
    margin-left: -40%;
    
}

#radio4:checked ~ .first {
    margin-left: -60%;
    
}

#featured-products {
    text-align: center;
    
}
#featured-products .pro-container {
  
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 65px;
    
}

#featured-products .product {
    margin-top: 40px;
    width: 25%;
    height: 450px;
    min-width: 250px;
    max-width: 300px;
    padding: 10px 12px;
    border: 1px solid gray;
    cursor: pointer;
    transition: transform 0.3s ease;
   
    
}

#featured-products .product:hover {
    box-shadow: 20px 20px 30px #535152;

}

#featured-products .product img{
    width: 100%;
    height: 62%;
    border-radius: 20px;

}



#featured-products .product .bag-button {
    position: absolute;
    bottom: -15px;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1rem;
    position: relative;
    background:black;
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;

}

.bag-button::after, .bag-button::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background:black;
    border-radius: inherit;
    width: 100%;
    height:100%;
    left:0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;

}

#featured-products .product .bag-button:hover {
    transform: translate(-12px, -12px);
}

#featured-products .product .bag-button:hover::after {
    transform: translate(6px, 6px);
}

#featured-products .product .bag-button:hover::before {
    transform: translate(12px, 12px);
}

#subscribe {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(158, 153, 153);
    height: 140px;

}

#subscribe .email {
    margin-top: 10px;
    height: 50px;
    position: relative;
}

#subscribe .email input {
    height: 100%;
    width: 400px;
    padding-left: 30px;
    border-radius: 50px;
    font-size: 18px;
    outline: none;

}

#subscribe .email button {
    position: absolute;
    top: 50%;
    right: -11%;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 50px;
    background: #990000;
    color: white;
    font-size: 16px;
}

.footer-container{
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
 

.footer-btn {
    display: flex;
}

.fbtn {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25re;
    position: relative;
    margin:32px;
    color: black;
}



.fbtn::after, .fbtn::before {
    border: 3px solid black;
    content: "";
    position: absolute;
    z-index: -1;
    transition: transform 0.3s ease;

}


