
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    margin: 0;
    padding: 0;
}
html, body{
margin: 0;
padding: 0;
}

.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left:calc(50vw - 75px);
}

.loader:before {
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
opacity: 0;
    }
}

.normal-header{
    background-color: black;
position: fixed;
color: white;
padding: 2.8%;
width: 95%;
left: 0;
top: 0;
transition: 0.5s;  
}
.nav-header{
font-size: 30px;
font-family: 'Bangers', cursive;

}

.nav-item, .nav-header{
    display: inline-block;
margin-left: 7px;
margin-right: 7px;

}
.mobile{
  
    list-style-type: none;
    color: black;
    background-color: white;
    height: 100%;
width: 100%;

left: 0;
top: 0;
transition: 0.5s; 
}
#mobile-bar{
    float: right;
    justify-content: space-around;
    margin: 5px;
    display: none;
}



.mobile-nav-item{
  display:none;
    float: left;
 padding: 8%;
 margin-bottom: 5%;
 font-size: 50px;
    width:30%;
    margin-right: 70%;
 font-family: 'Bangers', cursive;

}  
nav  a{
    text-decoration: none;
 color: white;   
}
.nav-form{
margin-top:5px;
display:none;
position: absolute;

}
.nav-navigation{
    float: right;
}
.nav-button{
    padding: 5px;
    text-decoration: none;
    border: none;
    background-color: white;
    color: rgba(0, 0, 0, 0.753);
    border-radius: 5%;
    cursor: pointer;
    box-shadow: none;
    
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color: black;
  }
  
   .change .bar2 {
    opacity: 0;
  }
   .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
background-color: black;
}
  
button:hover{
    background-color: black;
    color: white;
    border: solid 3px white;
    transition: 0.5s;
    
}
.nav-button:focus{
outline: 0;
box-shadow: none;
}
h3{
    text-align: center;
    font-size: 50px;
    font-family: 'Bangers', cursive;
    margin-bottom: 10%;
}
.booking{
   
    
    background: url('./images/wallpaper.JPEG') center center no-repeat;
 padding: 240px;
}

.booking-h2{
    font-family: 'Bangers', cursive;
    text-align: center;
color: rgb(255, 255, 255);
margin-bottom: 30px;
font-size: 75px;

}
.booking-form{
  display: block;
  text-align: center;

}
.booking-form-input{
    padding: 10px;
    margin-bottom: 10px;
    height: 20px;
    }
    .booking-form-button{
        padding: 10px;
        text-decoration: none;
        border: none;
background-color: white;
color: rgba(0, 0, 0, 0.753);
border-radius: 5%;
cursor: pointer;
box-shadow: none;
height: 44px;
width: 44px;
    }
.destination{
    padding: 60px;
background-color: black;
color: white;
}

.destination-div{
    display: block;

}
.destination-numbers{
    display: inline;
    padding: 10px;
}
.destination-label{
    display: inline-block;
    width: 26%;
    
    margin-bottom: 30px;
    font-size: 40px;
font-family: 'Bangers', cursive;
text-align: center;

}
#destination-label-1{
    float: left;
   margin-right: 5.5%;
}
#destination-label-2{
margin-right: 5.5%;
   
}
#destination-labe-3{
    float: right;
}
.destination-div-images{
    padding: 10px;
    position: static;
}
.destination img{
    width: 20%;
    height: auto;
    display: inline;
 cursor: pointer;

}
#destination-img-1{
    float: left;
    margin-right:16%;
        }
        .destination img:hover{
filter: grayscale(100%);
transition: 0.5s;
        }
    #destination-img-2{
        
        margin-right: 12%;
    }
    

    .time{
        padding:60px;
        
    }
  
    
  
.time-div-text{
  
    color: black;
width:100%;
margin-bottom: 10%;
text-align: center;

    font-family: 'Bangers', cursive;
    margin-right: 15px;
}
.time-div-images{
    display: inline;
    position: static;
   
    border: space-around;
    

}
.time-div-img{
    width: 30%;
    display: inline-block;
    margin: 0 auto;
    height: auto;
    
}
.policy{
    background-color: black;

    color: white;
font-family: 'Bangers', cursive;
padding: 120px;
padding-bottom: 100px;
}
.policy-div{
 
    text-align: center;
    
}
.policy-text{
    font-size: 600px;
    width: 20%;
    display: block;
    margin-bottom: 50px;
}
.policy-div-icons{
    font-size: 50px;
display: block;
margin-bottom: 50px;
}
.policy-image{
    text-align: center;
    width: 40%;
    margin-top: 20px;
    border-radius: 100%;
}

.kompanije{
    padding: 60px;
text-align: center;
}
.logo img{
height: 120px;
width: auto;
justify-content: space-around;
margin: 5px;
}

footer{
padding: 100px; 
text-decoration:
 none;
}


.footer-header{
    font-size: 50px;
    font-family: 'Bangers', cursive;

}
.map{
    width:540px;
    height: 380px;
}
footer ul{
    list-style: none;
    
}
.footer-links {
    padding-top: 30px;
    margin: auto;
}
.footer-link{
    text-decoration: none;
font-size: 35px;
cursor: pointer;
display: inline;
width: 30px;
text-align: center;
padding: 20px;

}
#map-div{
 margin-left: 100px;

}
.footer-section{
    display: inline-block;
    vertical-align: top;
}
.footer-link:hover{
   background-color: black;
    color: white;
    transition: 0.5s;
}


.people-div{
    font-family: 'Bangers', cursive;
    font-size: 50px;
margin: 5%;
width: 20%;
height: 20%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
display: inline-block;
transition: 2s;
text-align: center;
}
.people-div p{
            font-size: 25px;
    }
.people-div img{
    border-radius: 50%;
}


.about-section{
 font-family: 'Bangers', cursive;
    padding: 150px;
    text-align: center;
    background-color: black;
    color:whitesmoke;
}


.container::after, .row::after{
    content: "";
    clear: both;
    display: table;
}

.title{
    color: salmon;
}

.button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: whitesmoke;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover{
    background-color: #555;
}

@media screen and (max-width: 650px){
    .column{
        width: 100%;
        display: block;
    }
}


.log-in{
    background : url('../images/123993.jpg') no-repeat;
    overflow-x: hidden;
}
.log-header{
   
    padding: 10px;

    display: block;
width: 20%;
background-color: black;
height: 5%;    
}
.log-header h2 a{
    top: 20%;
}
.log{
    padding: 20px;
 margin-top: 75px;
    text-align: center;
    background: rgba(185, 185, 185,.30);
    width: 70%;
    left: 15%;
    right: 15%;
    position: absolute;

}
.login-form{
    width: 100%;
    display: block;
    margin-bottom: 30px;
}
.login-form-input{
    display: block;
    width: 100%;
    border: none;
  background-color: transparent;
    color: white;
    margin-bottom: 5%;
    font-size: 20px;
    border-bottom: 1px solid rgba(225,225,225,0.5);
}
.login-form-input::placeholder{
    color: white;
}
.login-form-input:focus{
    outline: none;
}
.login-form-button{
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border: none;
    background-color: white;
    color: rgba(0, 0, 0, 0.753);
    border-radius: 5%;
    cursor: pointer;
    box-shadow: none;
}
.login-h2{
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 120px;
    margin-bottom: 55px;
}
.register-h2{
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 100px;
    margin-bottom: 55px;
}
    .log-header a{
        text-decoration: none;
        color: white;
      
    }
    .login-tekst{
        color: white;
    }
    .checkout{
        background : url('../images/123993.jpg') no-repeat;
    overflow-x: hidden;
    }
.upozorenje{
    display: block;
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    
}
.success{
    display: block;
    text-align: center;
    color: rgb(68, 170, 0);
    background-color: rgb(217, 255, 187);
    border-color: rgb(207, 255, 170);
    
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.control-section{
    padding: 150px;

}
.control-section h2{
text-align: center;
font-family: 'Bangers', cursive;
font-size: 60px;
margin-bottom: 50px;
}
.control-section div{
    display: inline-block;
    vertical-align: top;
  

}

.control-navigation{
    margin-right: 20px;
}
.ctrl-navigation-list{
    list-style-type: none;
 
}
.ctrl-navigation-list-item, .ctrl-sub-navigation-item, .booking-button, .cancel-button{
    padding: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgba(225,225,225);
    border-radius: 5%;
    cursor: pointer;
    box-shadow: none;
    border: solid 1px black;
    font-family: 'Bangers', cursive;
}
.active{
  
    background-color: white;
    color: rgba(0,0,0);
    border-radius: 5%;
 
    border: solid 3px black;
    
}
.ctrl-navigation-list-item:hover, .ctrl-sub-navigation-item:hover{
    background-color: white;
    color: black;
    border: solid 3px black;
    transition: 0.5s;
}
.control-div{
width: 86%;
}

.ctrl-sub-navigation-item{
    display: none;
    padding: 10px;
    transition: 5000;
}
.control-search{
    margin-bottom: 20px;
}
.control-form-input, .control-form-button{
    padding: 10px;
    text-decoration: none;
    border: none;
background-color: white;
color: rgba(0, 0, 0, 0.753);
border-radius: 5%;
cursor: pointer;
box-shadow: none;
}

.control-form-button{
    border: 1px solid black;
}
.control-div-header{
    font-family: 'Bangers', cursive;
    font-size: 35px;
}
.search-card{
    background-color: black;
    color: white;
padding: 20px;
display: inline-block;
margin-right: 15px;
margin-bottom: 10px;
}
.search-card-item{
   
    margin-right: 20px; 



}
.trash{
    padding: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    border: none;
    background-color:white;
    color: black;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: none;
    border: solid 1px black;
    font-family: 'Bangers', cursive;


}
.search{
   
    
    background: black;
 padding: 115px;
 margin-bottom: 20px;
}

.search-h2{
    font-family: 'Bangers', cursive;
    text-align: left;
color: rgb(225, 225, 225);
margin-bottom: 30px;
margin-top: 10px;
font-size: 32px;
}
.search-form{
  display: block;
  text-align: left;
  justify-content: center;

}
.search-form-input{
   
    padding: 10px;
        text-decoration: none;
        border: none;
background-color: white;
color: rgba(0, 0, 0, 0.753);
border-radius: 5%;
cursor: pointer;
box-shadow: none;
height: 20px;
    }
    .search-form-button{
        padding: 10px;
        text-decoration: none;
        border: none;
background-color: white;
color: rgba(0, 0, 0, 0.753);
border-radius: 5%;
cursor: pointer;
box-shadow: none;
    }
    .fa-arrow-left{
        display: none;
    }
.google-directions{
    display: flex;
  justify-content: center;
  padding-bottom: 80px;
  
}
.car-div{
    
    font-family: 'Bangers', cursive;
    font-size: 50px;
margin: 2%;
width: 20%;
height: 20%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
display: inline-block;
transition: 2s;
}


.car-div p{
    font-size: 25px;
}
.booking-button{
    padding: 10px;
width: 100%;
}
.car{
    padding: 240px;
    background-color: black;
text-align: center;
}
.car p {
    font-family: 'Bangers', cursive;
    text-align: center;
color: rgb(255, 255, 255);
margin: 30px;
font-size: 35px;
}

.cancel-button, .trash{
    padding: 10px;
    width: 100%;
}
.cancel-button:hover, .trash:hover{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


/* Set a style for all buttons */
.button-window {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
   width: 100%;
  opacity: 0.9;
}


/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
  position: bottom;
}
.input-confirm{
    width: 80%;
    padding: 10px;
    margin: 5%;
}

.cancelbtn {
  background-color: #ccc;
  color: black;
  cursor: pointer;
}


.deletebtn {
  background-color: black;
  color: white;
  transition: 2s;
  cursor: not-allowed;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

#id01{
    transition: 2s;
}
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
  
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%;
  height: 50%;
  font-family: 'Bangers', 'cursive'
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width:750px)
{
    .nav-item{
        display: none;
    }
 #mobile-bar{
     display: block;
 }   
 .booking-h2{
     font-size: 30px;
 }
    h3{
        font-size: 25px;
    }
    
    
        .booking{
            padding:150px;
        }
     
     .car{
         padding: 150px;
     }
    .booking-form{
        width:100%;
        
    }
    .booking-form-input{
        width: 50%;
       
        font-size: 10px;
    }
  
    .booking-form-button{
      width: 30%;
    }
  
    
        .destination-numbers{
            display: block;
            
        }
        .destination-label{
            display:block;
            width: 100%;
            margin-bottom: 10px;
           
        
        }
        #destination-label-1{
            margin-right: 0%;
        }
        #destination-label-2{
        margin-right: 0%;
           
        }
        #destination-labe-3{
            float: left;
        }
        
        .destination img{
        width: 100%;
            height: auto;
            display: block;
         cursor: pointer;
        margin-bottom: 10px;
        }
        #destination-img-1{
            float: left;
            margin-right:0;
                }
                #destination-img-2{
                
                margin-right: 0;
            }
            
               .logo img{
                height: 45px;
            }
            .policy{
                padding: 95px;
            }
        
    
}
.profile{
    padding: 240px;
  }
  .profile h2{
    font-family: 'Bangers', cursive;
    text-align: center;
color: black;
margin-top: 100px;
margin-bottom: 30px;
font-size: 75px;
  }
@media only screen and (max-width:1030px)
{
    .footer-section{
        display: block;

    }
   #map-div{
    margin-left:0;
}
}
@media only screen and (max-width:450px)
{
    .search-cars{
        text-align: center;
    }
    .car-div{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 5%;
  display: inline-block;
    }
    .booking-form-button{
        width: 50%;
    }
    .booking-form-input{
        width: 100%;
    }
    .policy-image{
        width: 80%;
    }
    .login-h2{
        font-size: 250%;
    }
    .register-h2{
        font-size: 250%;
    }
    .map{
        width: 100%;
        height: auto;
    }
    #map-div{
        width: 100%;
    }
    .people-div{
        font-family: 'Bangers', cursive;
        font-size: 50px;
    margin: 5%;
    width: 80%;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: block;
    transition: 2s;
    text-align: center;
    }
}